* {
    box-sizing: border-box;
}
body
{
    line-height: 1.7;
}
a
{
    text-decoration: none;
}
a, body
{
    color: #eee;
}

.side-bar
{
    float:  left;
    width:  20%;
    position: fixed;
}
#por
{
    width:70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    left: 35px;
}
.side-bar > * 
{
    padding: 10px 15px;
}

.side-bar .nav a,
.visited,
.intro
{
    display: block;     /*占一整行*/
    padding: 4.5px;
    color: rgb(165, 165, 165);
    transition: color 500ms;
}

.side-bar .nav a:hover,
.visited:hover,
.intro:hover
{
    color: #eee;
    font-weight: 600;
}

.side-bar .nav a
{
    font-weight: 700;
}

.main
{
    float: right;
    width: 80%;
    color: #454545;
}

.nav
{
    display: block;
}
.header .logo
{
    line-height: 1;
    border: 5px solid #eee;
    padding: 10px 20px;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(238, 238, 238, 0.555);
    transition: color 400ms;
}
.logo{
    background:rgba(119, 119, 119, 0.2) !important;
}
.header .logo:hover
{
    color:#fff;
    text-decoration: underline;
}
.header,
.nav
{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
}
.header{
    margin: 10px;
}
.article-list, .article
{
    background: rgba(255, 255, 255, 0.7);
    margin-right: 30%;
    padding: 20px 30px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
}

.article-list .item
{
    margin-bottom: 25px;
}

.article .title
{
    display: block;
    text-align: center;
}
.article-list .item .title,
.article .title
{
    color: #454545;
    font-size: 22px;
    font-weight: 700;
}

.article-list .item .status,
.article .status
{
    font-size: 17px;
    color: #ccc;
    margin-top: 0px; 
}
.article .status
{
    text-align: center;
}
.article-list .item > *,
.article > *
{
    margin: 10px 0;
}

.content a
{
    color: #555;
    font-weight: 700;
    font-size: 20px;
}

#menu-checkbox,
#menu-toggle
{
    display: none;
}

footer
{
    margin-right: 30%;
    text-align: center;
    padding: 10px;
    color: #eee;
}

#jump
{
    width: 120px;
    text-align: center;
}

.pager > a,
.pager > label
{
    color:#444;
    transition: color 400ms;
}

.pager a:hover,
.content a:hover,
.pager > label:hover
{
    color: #333;
    font-weight: 700;
    text-decoration: none;
}
.article-list .item .title:hover
{
    text-decoration: none;
    color: #888;
}
.article-list{
    margin-bottom: 12px;
}
.pager
{
    text-align: center;
    padding: 0 0 0 0;
    margin-bottom: 0px;
}
.content a:hover
{
    color: #999;
}

.nav a:hover
{
    text-decoration: none;
}

.content
{
    font-size: 18px;
}

.active
{
    color: #eee !important;
}

#logo-actives
{
    color:#fff;
    text-decoration: underline;
}

#trigger{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 17px;
}

#jump-trigger{
    background-color: #fff;
    border-radius: 18px;
    width: 40px;
    height: 40px;
}
.nobigger{
    max-width: 110%;
}
.seemore{
    text-align: right;
    font-size: 17px !important;
}
.poisioning{
    text-align: left;
}
.subtitle{
    background: rgba(31, 31, 31, 0.85);
    color: #eee;
    font-size: 25px;
}
.code{
    background: rgba(31, 31, 31, 0.65);
    color: #fff;
    font-size: 22px;
}
.cur_page{
    display: inline;
    padding: 10px;
}
.visited,
.intro{
    display: block;
    font-weight: 600;
}
.sm-icon{
    width: 29px;
    height: 30px;
    padding: 6px;
}
.icon-list > a:hover{
    background: rgba(173, 173, 173, 0.2);
    border-radius: 5px;
}

.art_img{
    padding: 12px;
    opacity:0.95;
}
.incident{
    padding: 70px 30px;
}

.bigpic{
    max-width: 100%;
}

.logo {
	background:#454545;
    color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
.logo:hover {
	background:#333;
	color:#fff;
}
.logo:before,.logo:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background:#fff;
	transition:400ms ease all;
}
.logo:after {
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.logo:hover:before,.logo:hover:after {
	width:100%;
	transition:800ms ease all;
}

.bg{
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
}